
<footer class="footer">
    <ul class="list-inline text-center">
        <% if (config.twitter_username) { %>
        <li>
            <a target="_blank" href="https://twitter.com/<%= config.twitter_username %>">
                            <span class="fa-stack fa-lg">
                                <i class="iconfont icon-twitter"></i>
                            </span>
            </a>
        </li>
        <% } %>
        <% if (config.zhihu_username) { %>
        <li>
            <a target="_blank" href="https://www.zhihu.com/people/<%= config.zhihu_username %>">
                            <span class="fa-stack fa-lg">
                                 <i class="iconfont icon-zhihu"></i>
                            </span>
            </a>
        </li>
        <% } %>

        <% if (config.weibo_username) { %>
        <li>
            <a target="_blank" href="http://weibo.com/<%= config.weibo_username %>">
                            <span class="fa-stack fa-lg">
                                  <i class="iconfont icon-weibo"></i>
                            </span>
            </a>
        </li>
        <% } %>

        <% if (config.facebook_username) { %>
        <li>
            <a target="_blank" href="https://www.facebook.com/<%= config.facebook_username %>">
                            <span class="fa-stack fa-lg">
                                <i class="iconfont icon-facebook"></i>
                            </span>
            </a>
        </li>
        <% } %>

        <% if (config.github_username) { %>
        <li>
            <a target="_blank"  href="https://github.com/<%= config.github_username %>">
                            <span class="fa-stack fa-lg">
                                <i class="iconfont icon-github"></i>
                            </span>
            </a>
        </li>
        <% } %>

        <% if (config.linkedin_username) { %>
        <li>
            <a target="_blank"  href="https://www.linkedin.com/in/<%= config.linkedin_username %>">
                            <span class="fa-stack fa-lg">
                                <i class="iconfont icon-linkedin"></i>
                            </span>
            </a>
        </li>
        <% } %>

    </ul>
    <% if(config.friends) { %>
    <p>
        <span>/</span>
        <% config.friends.forEach(function(friend){ %>
        <span><a href="<%= friend.href %>"><%= friend.title %></a></span>
        <span>/</span>
        <% }); %>
    </p>
    <% }%>
    <p>
        Created By <a href="https://hexo.io/">Hexo</a>  Theme <a href="https://github.com/aircloud/hexo-theme-aircloud">AirCloud</a></p>
         <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="知识共享许可协议" style="border-width:0" src="https://bubuyu.work/img/80x15.png" /></a><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">(CC BY-NC-ND 4.0) </a></p>
   <div style="margin:0 auto; padding:0.5em 0;">
                <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=37010202001399" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="https://bubuyu.work/img/beianlogo.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">鲁公网安备 37010202001399号</p></a> <p style="float:right;height:20px;line-height:20px;margin: 0px 0px 0px 5px;"><a href="http://www.miibeian.gov.cn/" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;color:#939393;">鲁ICP备18034499号-1</a></p>
    </div>

</footer>


